.checkbox-container {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 24px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 16px;
}

.checkbox-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkbox-checkmark {
	position: absolute;
	top: 4px;
	left: 0;
	height: 18px;
	width: 18px;
	border: 1px solid var(--secondary);
	border-radius: 4px;
}

.checkbox-input:checked ~ .checkbox-checkmark {
	background-color: #2196f3;
}

.checkbox-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-input:checked ~ .checkbox-checkmark:after {
	display: block;
}

.checkbox-checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
