.mr_slider_content {
	position: relative;
	display: inline-block;
	width: 100%;
	background-size: cover;
	border-radius: 16px;
	overflow: hidden;
	margin-bottom: 100px;
}

.slider_cover {
	background-image: url(../../assets/images/mr_slider_cover.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: cover;
	position: absolute;
	bottom: 0;
	top: 10%;
	width: 100%;
	z-index: 2;
}

.content_bottom {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
