.parallax_section {
	overflow: hidden;
}

.category_bg {
	position: relative;
	top: -15px;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	padding: 130px 0;
	z-index: 1;
}

.category_bg::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	z-index: -1;
}

.breadcrumbs {
	z-index: 2;
}

.breadcrumbs > ul > li + *:before {
	opacity: 0.8;
}

.separator {
	position: relative;
}

.separator:before {
	content: "";
	position: absolute;
	left: 50%;
	top: -12px;
	height: 3px;
	width: 50px;
	transform: translateX(-50%);
	border-radius: 3px;
	z-index: 2;
	background-color: var(--primary);
}
